---
- name: Install GitHub Self-Hosted Runner on Kubernetes Master
  hosts: kube_control_plane
  gather_facts: yes
  become: yes

  vars_files:
    - ../group_vars/kube_control_plane/github_runner.yml

  vars:
    runner_user: ubuntu
    runner_name: "k8s-runner"
    runner_dir: "/home/ubuntu/actions-runner"
    runner_version: "latest"
    runner_state: "started"
    access_token: "{{ github_actions_token }}"
    hide_sensitive_logs: true

    # Configuración específica del repo
    runner_org: false
    github_account: "OwenRoque"
    github_repo: "EQExpert"

    # Etiqueta para identificar este runner
    runner_labels:
      - "k8s-master"
      - "eqexpert"

  roles:
    - role: ansible-github_actions_runner
