name: CI/CD Pipeline

on:
  push:
    branches: ["master"]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Update frontend image
        run: kubectl set image deployment/frontend frontend=${{ secrets.DOCKERHUB_USERNAME }}/eqexpert_frontend:latest

      - name: Update backend image
        run: kubectl set image deployment/backend backend=${{ secrets.DOCKERHUB_USERNAME }}/eqexpert_backend:latest

      - name: Wait for rollout
        run: |
          kubectl rollout status deployment/frontend
          kubectl rollout status deployment/backend